---
import { IProjects } from "../../../src/types";
import ProjectCard from "./ProjectCard.astro";

const { projects, isBig } = Astro.props as IProjects;
---

<div class="flex flex-row gap-4 my-16 flex-wrap justify-center">
  {projects.map((project) => <ProjectCard projectDetail={project} isBig={isBig}  />)}
</div>
