---
import { ISkills } from "../../../src/types";
import Skill from "./Skill.astro";

const { skills } = Astro.props as IProjects;
---

<div class="flex justify-start flex-wrap gap-4 my-16">
  {skills.map(skill => <Skill skillDetail={skill} />)}
</div>
