---
import { ISkillDetails } from "../../../src/types";
const { skillDetail } = Astro.props as ISkillDetails;
const { name, icon } = skillDetail;
---
<div class="relative flex justify-center hover:scale-125 hover:shadow-md bg-[#e7ded3] dark:bg-[#202020] rounded-lg transition-all ease-in-out duration-100">
  <img
    src={icon}
    class="w-auto h-14 saturate-0 hover:saturate-100 peer transition-all ease-in-out duration-100 p-2"
    loading="lazy"
    alt={name}
  />
  <p class="absolute text-white w-content peer-hover:z-50 whitespace-nowrap	bg-black p-2 mt-12 peer-hover:mt-16 text-center opacity-0 peer-hover:opacity-100 transition-all ease-in-out duration-300">{name}</p>
</div>
