---
import { IHeroProps } from "../../../src/types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-light mt-[117px]">Hello, I'm an app developer based in Hungary</p>
  <div class="flex justify-between items-center">
    <h1 class="leading-[1.2]">{name}</h1>
  <img
      src="../../../public/assets/images/portrait.jpeg"
      class="w-24 h-24 rounded-full border-2 border-green"
    loading="lazy"
    width="20px"
    height="20px"
    alt="Portfolio image"
  />
  </div>
  <p class="dark:text-light text-lg mt-6 mb-16">
    {about}
  </p>
</section>
